summer:
#
  project-name: "your_project_name"
  docs:
    title: "your_project_name"
    description: "your_project_description"
    version: "your_project_version"
  logger:
    version: 1
    formatters:
      simple:
        format: '[%(asctime)s.%(msecs)03d] %(module)s - %(levelname)s - %(message)s'
        datefmt: '%Y-%m-%d %H:%M:%S'
    handlers:
      console:
        class: logging.StreamHandler
        level: DEBUG
        formatter: simple
        stream: ext://sys.stdout
    loggers:
      uvicorn:
        level: DEBUG
        handlers: [console]
        propagate: no
      "gunicorn.access":
        level: DEBUG
        handlers: [console]
        propagate: no
      "gunicorn.error":
        level: DEBUG
        handlers: [console]
        propagate: no
      aipzipkin:
        level: DEBUG
        handlers: [console]
        propagate: no
    root:
      level: DEBUG
      handlers: [console]